<div>Welcome to {{title}}, enable camera to post video emoji!</div>
<div id="waiting">Connecting to chat server...</div>
<div id="second_counter"></div>
<div id="conversation"></div>
<div id="submission">
<div id="emoticons">
	<img src="images/happy.png" class="emoti happy"/>
	<img src="images/sad.png" class="emoti sad"/>
	<img src="images/angry.png" class="emoti angry"/>
	<img src="images/heart.png" class="emoti heart"/>
	<img src="images/cry.png" class="emoti cry"/>
	<img src="images/grin.png" class="emoti grin"/>
	<img src="images/scared.png" class="emoti scared"/>
	<img src="images/tongue.png" class="emoti tongue"/>
	<img src="images/wink.png" class="emoti wink"/>
	<img src="images/oh.png" class="emoti oh"/>
	<span class="webcam">
	<div id="webcam_stream"></div>
	<div class="circle"></div>
	</span>
</div>
<input type="text" placeholder="say something..">
</div>
<div id="video_container"></div>